<div class="topbar">
    <div class="mr-auto">

            <nz-form-control>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input type="text" nz-input placeholder="input search text" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="primary" nzSearch><i nz-icon type="search"></i></button>
                    </ng-template>
                </nz-form-control>
    </div>

    <div class="mr-4">
        <ul nz-menu [nzMode]="'horizontal'">
            <li nz-menu-item><i nz-icon type="mail"></i> Vessels</li>
            <li nz-menu-item><i nz-icon type="appstore"></i> Layers</li>
            <li nz-submenu>
                <span title><i nz-icon type="setting"></i> Master Data</span>
                <ul>
                    <li nz-menu-group>
                        <span title>Zona</span>
                        <ul>
                            <li nz-menu-item>Option 1</li>
                            <li nz-menu-item>Option 2</li>
                        </ul>
                    </li>
                    <li nz-menu-group>
                        <span title>Surevey</span>
                        <ul>
                            <li nz-menu-item>Option 3</li>
                            <li nz-menu-item>Option 4</li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="mr-4">
        <app-demo1></app-demo1>
    </div>
    <div class="mr-4">
        <nz-dropdown>
            <nz-badge nz-dropdown [nzCount]="5" style="margin-right: 24px;">
                <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
            </nz-badge>
            <ul nz-menu>
                <li nz-menu-item>
                    <a>Profile</a>
                </li>
                <li nz-menu-item>
                    <a>Log</a>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item>Logout</li>
            </ul>
        </nz-dropdown>
    </div>
</div>
