.topbar {
    background: #fff;
    padding: 0 1.53rem;
    min-height: 64px;
    height: 64px;
    border-bottom: 1px solid #e4e9f0;
    color: #74708d;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
