<nz-spin nzTip="Loading..." *ngIf="isLoading">
    <nz-alert nzType="info" nzMessage="Alert message title"
        nzDescription="Further details about the context of this alert.">
    </nz-alert>
</nz-spin>