<nz-layout>
        <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzWidth]="width" [nzReverseArrow]="isReverseArrow" (nzCollapsedChange)="changeMenu()" class="sidebar">
        <div class="logo"></div>
        <app-app-left-menu></app-app-left-menu>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <app-app-top-menu></app-app-top-menu>
        </nz-header>
        <nz-content style="margin:0 16px;">
                <router-outlet></router-outlet>
        </nz-content>
        <nz-footer style="text-align: center;">Ant Design ©2019 Implement By Angular</nz-footer>
    </nz-layout>
</nz-layout>
