<nz-breadcrumb class="p-4">
    <nz-breadcrumb-item>
        <i nz-icon type="home"></i>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <a><i nz-icon type="user"></i><span>Application List</span></a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        Application
    </nz-breadcrumb-item>
</nz-breadcrumb>

<div class="app-page-menu">
    <div class="widget-module">
        <app-menu></app-menu>
    </div>
    <div class="app-module">
        <router-outlet></router-outlet>
    </div>

</div>
