<ul nz-menu [nzMode]="'inline'" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
    <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Dashboard' : ''">
        <span title>
            <i nz-icon nzType="dashboard" nzTheme="outline"></i>
            <span>Dashboard</span>
        </span>
    </li>
    <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Map' : ''">
        <span title>
            <i nz-icon type="read"></i>
            <span>Pelanggan</span>
        </span>
    </li>
    <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Users' : ''">
        <span title>
            <i nz-icon nzType="contacts" nzTheme="outline"></i>
            <span>Penawaran</span>
        </span>
    </li>
    <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Users' : ''">
        <span title>
            <i nz-icon nzType="contacts" nzTheme="outline"></i>
            <span>Anggaran</span>
        </span>
    </li>
    <li nz-menu-item nz-tooltip nzPlacement="right" [nzTitle]="isCollapsed ? 'Configuration' : ''">
        <span title>
            <i nz-icon nzType="tool" nzTheme="outline"></i>
            <span>GA</span>
        </span>
    </li>

    <li nz-submenu>
        <span title>
            <i nz-icon type="appstore"></i>
            <span>Assets</span>
        </span>
        <ul>
            <li nz-menu-item>Purchase</li>
            <li [routerLink]="['/app']" routerLinkActive="router-link-active"  nz-menu-item>Warehouse</li>
            <li nz-menu-item>Request</li>
        </ul>
    </li>
    <li nz-submenu>
        <span title>
            <i nz-icon type="setting"></i>
            <span>Navigation Three</span>
        </span>
        <ul>
            <li nz-menu-item>Option 9</li>
            <li nz-menu-item>Option 10</li>
            <li nz-menu-item>Option 11</li>
        </ul>
    </li>
</ul>
